*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

/* header area */

header{
    z-index: 10;
    position: fixed;
    min-width: 100vw;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px;
    min-height: 80px;
    background-color: #1f1f1f;
}

nav img{
    max-height: 48px;
    background-color: white;
}

.spacer{
    display: inline-block;
    /* Parent width - logo width - Menu <ul> width */
    width: calc(100% - 40px - 290px);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}

nav ul li a.current{
    color: aquamarine;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(229, 145, 0);
}

nav ul li a:active{
    color: green;
}

/* Services dropdown menu */
#services-li{
    position: relative;
}

#services-li:hover #services-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#services-menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    background-color: #252525;
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 1;
    margin-bottom: 0px;
    padding: 4px 16px;
    transform: translateY(-2vh);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.15s;
}

#services-menu a{
    display: inline-block;
    white-space: nowrap;
}

/* main area */
main{
    display: block;
    padding-top: 125px;
    padding-bottom: 10px;
    min-height: 90vh;
    background-color: #727272;
}

main div{
    position: relative;
}

main h1{
    padding: 20px;
}

.content-area{
    display: flex; 
    flex-basis: calc(85% - 10px);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px;
    background-color: #e3e3e3;
}

.content-area div{
    /* flex-basis: calc(25% - 30px); */
    width: 250px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    background-image: url(./images/coffee.png);
}

.intro-section h2,
.resources-section h2{
    margin: 10px 0;
    font-size: 20px;
}

.intro-section img{
    max-height: 170px;
}

.intro-section p,
.resources-section a{
    font-size: 13px;
}

/* float-content-area */
.main-section{
    padding: 10px;
    background-color: #727272;
    /* height: 470px; */
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.flex-box-even{
    justify-content: space-evenly;
}

.flex-box img{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 5px);
}

.flex-box img:last-child{
    flex-basis: 100%;
    height: 300px;
}

.main-section article{
    padding: 10px;
    background-color: #b3b3b3;
    height: 100%;
    min-height: 550px;
}

.main-section img{
    width:300px;
}

.main-section h2{
    padding: 20px 0;
    font-size: 40px;
    font-weight: 500;
}

.main-section p{
    font-size: 18px;
}

.float-left{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.clear-left{
    clear: left;
}

.float-right{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
}

.sub-nav{
    flex-direction: column;
    flex-basis: calc(15% - 10px);
    background-color: #373737;
}

.sub-nav ul{
    flex-direction: column;
    list-style: none;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.sub-nav ul li a{
    text-decoration: none;
}

.sub-nav h3{
    color: white;
    margin: 32px 0;
}

.sub-nav ul li{
    margin-bottom: 10px;
}

.nav-list a:link,
.nav-list a:visited{
    color: rgb(96, 149, 255);
}

.nav-list a:hover{
    color: rgb(229, 145, 0);
}

.nav-list a:active{
    color: green;
}

/* footer area */
footer{
    width: 100%;
    background-color: #1f1f1f;
}

footer nav{
    justify-content: center;
}

#footer-line{
    border-bottom: 1px solid white;
    display: inline-block;
    /* Parent width - logo width - Menu <ul> width */
    width: calc(100% - 250px);
}

footer ul{
    margin-bottom: 0;
}

footer p{
    color: white;
    margin: 32px 0px;
}

footer div nav,
footer div p{
    font-size: 15px;
}

footer div nav{
    align-items: center;
    justify-content: center;
}